<div class="container">
	<h1>Edit Information</h1>
	<form action="/account/<%= user.id %>?_method=PUT" method="POST">
		<%- include('./../forms/_form_user_first_last_name') %>
		<%- include('./../forms/_form_user_email') %>
		<%- include('./../forms/_form_user_password') %>
		<br>
		<a href="/" class="cancel-button">Cancel</a>
		<button type="submit" class="submit-button">Submit</button>
	</form>
</div>