<div class="form-group">
	<label for="email">Email</label>
	<input required value="<%= user.email %>" type="email" name="email" id="email" class="form">
</div>
<%= errorMessage.errorEmail %>
<%= errorMessage.errorLoginEmail %>
