<div class="form-group">
	<label for="password">Password</label>
	<input required type="password" name="password" id="password" class="form">
</div>
<%= errorMessage.errorPassword %>
<%= errorMessage.errorLoginPassword %>